{{ partial "header.html" . }}
<header>
  <div>&nbsp;</div>
  {{- with .Site.GetPage "/" }}
    {{ range .AlternativeOutputFormats -}}{{ printf `<a class="feed" href="%s" /><img src="/assets/images/feed-icon.svg" alt="Feed"></a>` .Permalink | safeHTML }}{{ end }}
  {{- end }}
</header>
<main id="index" class="h-feed">
<h1>{{ .Site.Title }}</h1>
<h2>{{ .Site.Params.description }}</h2>
{{ range (where .Site.RegularPages "Type" "post") }}
{{ partial "summary.html" . }}
{{ end }}
<footer>
  <span>
    &copy; <time datetime="{{ now }}">{{ now.Format "2006" }}</time> <a rel="me" href="https://tomasino.org">James Tomasino</a>.
  </span>
</footer>
</main>
</body>
</html>
