body {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  line-height: 28px;
  font-weight: 500;
  overflow-x: hidden;
}

h1 {
  font-size: 28px;
  line-height: 34px;
  font-weight: bold;
  margin-bottom: 0;
}

h1 a {
  box-shadow: inset 0 -1px 0 0 #fff, inset 0 -3px 0 0 #DEBDDE;
}

h1 a:hover {
  box-shadow: inset 0 -1px 0 0 #fff, inset 0 -3px 0 0 #780078;
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 20px;
}

p {
  font-size: 18px;
  font-weight: 400;
}

img {
  max-width: 100%;
}

blockquote {
  font-size: 17px;
  font-weight: 400;
  font-style: italic;
}

pre {
  font-size: 11px;
  font-weight: 400;
}

a {
  color: #333;
  text-decoration: none;
  text-shadow: 1px 1px 0 #fff, -1px 1px 0 #fff, 2px 0 0 #fff, -2px 0 0 #fff;
  box-shadow: inset 0 2px 0 0 #fff, inset 0 -1px 0 0 #DEBDDE;
}

a:hover {
  transition: box-shadow .3s;
  box-shadow: inset 0 2px 0 0 #fff, inset 0 -1px 0 0 #780078;
}

main {
  margin: 0 auto;
  max-width: 800px;
  padding: 20px;
}

#back {
  font-size: 40px;
  text-decoration: none;
  text-shadow: none;
  box-shadow: none;
  display: block;
  position: absolute;
  transform: scale(-1, 1);
}

#index ul, #index li, #tags, #tags li {
  display: inline-block;
  margin: 0;
  padding: 0 5px 0 0;
}

#index li a, #tags li a {
  color: #888;
}

time {
  margin-right: 5px;
  color: #888;
}

footer {
  margin-top: 25px;
}

.highlight {
  font-family: monospace;
  line-height: 1em;
}

.highlight pre {
  padding: 10px;
}

figure {
  text-align: center;
}
