<!DOCTYPE html>
<html ⚡ lang="en">
	{% include head.html %}
	<body class="audimat-font-loading">
		<amp-analytics type="googleanalytics" id="analytics1">
			<script type="application/json">
			{
			"vars": {
				"account": "UA-18127227-4"
			},
			"triggers": {
				"trackPageview": {
					"on": "visible",
					"request": "pageview"
				}
			}
			}
			</script>
		</amp-analytics>

		<amp-font
			layout="nodisplay"
			font-family="Audimat"
			timeout="2000"
			on-error-remove-class="audimat-font-loading"
			on-error-add-class="audimat-font-missing"
			on-load-remove-class="audimat-font-loading"
			on-load-add-class="audimat-font-loaded">
		</amp-font>

		{% include header.html %}
		{{ content }}
	</body>
</html>
