---
layout: default
comments: true
---
<main class="content" role="main">
<article class="post">
	<div class="post-meta">
		<h1 class="post-title">{{ page.title }}</h1>
	</div>

	<p class="published">Published <time datetime="{{ page.date | date: "%F %R" }}">{{ page.date | date_to_string }}</time></p>

	<ul class="tags">
		{% for tag in page.tags %}
		<li><a href="/tag/{{ tag }}" class="tag">{{ tag }}</a></li>
		{% endfor %}
	</ul>

	<section class="post-content">
		<a name="topofpage"></a>
		{{content}}
	</section>

	<footer class="post-footer">
		<section class="share">
			<amp-social-share type="twitter" width="60" height="44"></amp-social-share>
			<amp-social-share type="gplus" width="60" height="44"></amp-social-share>
			<amp-social-share type="linkedin" width="60" height="44"></amp-social-share>
			<amp-social-share type="pinterest" width="60" height="44"></amp-social-share>
			<amp-social-share type="email" width="60" height="44"></amp-social-share>
		</section>
	</footer>

	<section class="post-comments" id="comments">
		<amp-iframe
			height="300"
			sandbox="allow-forms allow-modals allow-popups allow-popups-to-escape-sandbox allow-same-origin allow-scripts"
			resizable
			frameborder="0"
			src="https://comments.tomasino.org?disqus_title={{ page.title | cgi_escape}}&url={{ page.url | prepend: site.baseurl | prepend: site.url | cgi_escape }}&disqus_name=https%3A%2F%2F{{ site.disqus_name }}.disqus.com%2Fembed.js">
			<div overflow tabindex="0" role="button" aria-label="Read more">Read more!</div>
		</amp-iframe>
	</section>

	<div class="bottom-teaser cf">
		<div class="isLeft">
			<h5 class="index-headline featured"><span>Written by</span></h5>
			<section class="author">
				<div class="author-image"></div>
				<h4>{{ site.name }}</h4>
				<p class="bio">{{site.bio}}</p>
				<p>
				<span>
					{% if site.github_username %}
					{% include icon-github.html username=site.github_username %}
					{% endif %}
				</span>
				<span>
					{% if site.twitter_username %}
					{% include icon-twitter.html username=site.twitter_username %}
					{% endif %}
				</span>
				</p>
				<hr>
			</section>
		</div>
		{{post}}
		<div class="isRight">
			<h5 class="index-headline featured"><span>Supported by</span></h5>
			<footer class="site-footer">
				<section class="poweredby">Proudly published with <a href="http://jekyllrb.com"> Jekyll</a> and <a href="https://github.com/ageitgey/amplify">Amplify</a></section>
				<a class="subscribe" href="{{ "/feed.xml" | prepend: site.baseurl }}"> <span class="tooltip"> <i class="fa fa-rss"></i> You should subscribe to my feed.</span></a>
				<div class="inner">
					<section class="copyright">All content copyright <a href="mailto:{{ site.email}}">{{site.name}}</a> &copy; {{ site.time | date: '%Y' }}<br>All rights reserved.</section>
				</div>
			</footer>
		</div>
	</div>
</article>
</main>
