---
layout: default
sitemap: false
---
<main class="content" role="main">
	<article class="post">
		<div class="post-meta">
			<h1 class="post-title">{{ page.tag }}</h1>
		</div>
		<section class="post-content">
			<ul>
				{% for post in page.posts %}
				<li><a href="{{ post.url }}">{{ post.title }}</a> ({{ post.date | date_to_string }})</li>
				{% endfor %}
			</ul>
		</section>
	</article>
</main>
