{{ partial "header.html" . }}
<header>
  <div class="back-button">
    <a id="back" href="{{ .Site.BaseURL }}">BACK</a>
  </div>
  {{- with .Site.GetPage "/" }}
    {{ range .AlternativeOutputFormats -}}{{ printf `<a class="feed" href="%s" /><img src="https://labs.tomasino.org/assets/images/feed-icon.svg" alt="Feed"></a>` .Permalink | safeHTML }}{{ end }}
  {{- end }}
</header>
<main id="list" class="h-feed">
  <h1>Tag Summary</h1>
  <h2>{{ .Title }}</h2>
{{ range .Data.Pages }}
{{ partial "tagsummary.html" . }}
{{ end }}
</main>
</body>
</html>
